<ion-menu contentId="main" side="end" menuId="tuMenuId">
  <!-- Contenido del menú aquí -->
</ion-menu>

<ion-content [fullscreen]="true">
  <ion-toolbar style="height: auto; display: flex; justify-content: center; align-items: center; --background: #ffffff; overflow-y: auto;">
    <div style="margin-top:62px;"></div>
      <ion-label style="font-size: 28px; font-weight: 500; color:#2C3357; margin-left: 15px;">
          Productos
      </ion-label>

      <!--Nombre y descripción-->
      <ion-card style="height: auto; --background:#ffffff; border: none; width: 780px; margin: auto;">
        <ion-card-content>
          <ion-label style="font-size: 22px; font-weight: bold; color: #2C3357;">
            Nombre y descripción
          </ion-label>
          <div style="margin-top: 5px"></div>

          <ion-row style="font-size: 15px; font-weight: bold; color: #2c3357;">
            Nombre
          </ion-row>
          <div style="margin-top: 5px"></div>

          <ion-input style="--padding-start: 5px; font-size: 15px; font-weight: bold; color: #2c3357; border: 1px solid #2C3357; border-radius: 10px; box-shadow: none;" 
            placeholder="Escribí el nombre de tu producto">
          </ion-input>
          <div style="margin-top: 5px"></div>

          <ion-label style="font-size: 15px; font-weight: bold; color: #2c3357;">
            Descripción
          </ion-label>
          <div style="margin-top: 5px"></div>

          <ion-textarea style="--padding-start: 5px; font-size: 15px; font-weight: bold; color: #2c3357; height: 150px; width: 750px; border: 1px solid #2C3357; border-radius: 10px;" 
            contenteditable="true" placeholder="Escribí una descripción para tu producto">
          </ion-textarea>
        </ion-card-content>
      </ion-card>
      <div style="margin-top: 8px;"></div>

      <!--Fotos-->
      <ion-card style="height: auto; --background:#ffffff; border: none; width: 780px; margin: auto;">
        <ion-card-content>
          <ion-label style="font-size: 22px; font-weight: bold; color: #2C3357;">
            Fotos
          </ion-label>
          <div style="margin-top: 5px"></div>
          <ion-row>

            <ion-col>
              <input type="file" accept="image/*" (change)="handleImageChange($event,'foto1','icono1','span1','borrarFoto1')" style="display: none;" id="fileInput1"/>
              
              <ion-button id="foto1" (click)="openFileInput('fileInput1')" style="--background: #deeffe; height: 130px; width: 173px; border: 2px dashed #006bc8">
                <ion-icon id="icono1" name="add-circle-outline" style="font-size: 50px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #006bc8;">
                </ion-icon>
                <span id="span1" style="font-weight: bold; position: absolute; bottom: 0px; text-align: center; width: 100%; text-transform: none;">
                  Vista de frente
                </span>
              </ion-button>

              <ion-button id="borrarFoto1" (click)="confirmarBorrarFoto('foto1','icono1','span1','borrarFoto1')" style="position: absolute; top: 22%; left: 85%; transform: translate(-50%, -50%); z-index: 6; --background:#ffffff; --border-radius:150px; display: none;">
                <ion-icon name="trash" style="font-size: 22px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                </ion-icon>
              </ion-button>
            </ion-col>

            <ion-col>
              <input type="file" accept="image/*" (change)="handleImageChange($event,'foto2','icono2','span2','borrarFoto2')" style="display: none;" id="fileInput2"/>
              
              <ion-button id="foto2" (click)="openFileInput('fileInput2')" style="--background: #deeffe; height: 130px; width: 173px; border: 2px dashed #006bc8">
                <ion-icon id="icono2" name="add-circle-outline" style="font-size: 50px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #006bc8;">
                </ion-icon>
                <span id="span2" style="font-weight: bold; position: absolute; bottom: 0px; text-align: center; width: 100%; text-transform: none;">
                  Vista izquierda
                </span>
              </ion-button>

              <ion-button id="borrarFoto2" (click)="confirmarBorrarFoto('foto2','icono2','span2','borrarFoto2')" style="position: absolute; top: 22%; left: 85%; transform: translate(-50%, -50%); z-index: 6; --background:#ffffff; --border-radius:150px; display: none;">
                <ion-icon name="trash" style="font-size: 22px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                </ion-icon>
              </ion-button>
            </ion-col>

            <ion-col>
              <input type="file" accept="image/*" (change)="handleImageChange($event,'foto3','icono3','span3','borrarFoto3')" style="display: none;" id="fileInput3"/>
              
              <ion-button id="foto3" (click)="openFileInput('fileInput3')" style="--background: #deeffe; height: 130px; width: 173px; border: 2px dashed #006bc8">
                <ion-icon id="icono3" name="add-circle-outline" style="font-size: 50px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #006bc8;">
                </ion-icon>
                <span id="span3" style="font-weight: bold; position: absolute; bottom: 0px; text-align: center; width: 100%; text-transform: none;">
                  Vista derecha
                </span>
              </ion-button>

              <ion-button id="borrarFoto3" (click)="confirmarBorrarFoto('foto3','icono3','span3','borrarFoto3')" style="position: absolute; top: 22%; left: 85%; transform: translate(-50%, -50%); z-index: 6; --background:#ffffff; --border-radius:150px; display: none;">
                <ion-icon name="trash" style="font-size: 22px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                </ion-icon>
              </ion-button>
            </ion-col>

            <ion-col>
              <input type="file" accept="image/*" (change)="handleImageChange($event,'foto4','icono4','span4','borrarFoto4')" style="display: none;" id="fileInput4"/>
              
              <ion-button id="foto4" (click)="openFileInput('fileInput4')" style="--background: #deeffe; height: 130px; width: 173px; border: 2px dashed #006bc8">
                <ion-icon id="icono4" name="add-circle-outline" style="font-size: 50px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #006bc8;">
                </ion-icon>
                <span id="span4" style="font-weight: bold; position: absolute; bottom: 0px; text-align: center; width: 100%; text-transform: none;">
                  Vista de atrás
                </span>
              </ion-button>

              <ion-button id="borrarFoto4" (click)="confirmarBorrarFoto('foto4','icono4','span4','borrarFoto4')" style="position: absolute; top: 22%; left: 85%; transform: translate(-50%, -50%); z-index: 6; --background:#ffffff; --border-radius:150px; display: none;">
                <ion-icon name="trash" style="font-size: 22px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                </ion-icon>
              </ion-button>
            </ion-col>

          </ion-row>

          <div style="margin-top: 5px"></div>
          <ion-row>
            <ion-label style="border-radius: 150px; border: 1px solid #2C3357; padding-left: 5px; padding-right: 5px;">
              <ion-icon name="expand"></ion-icon>
              Tamaño mínimo recomendado: 1024px
            </ion-label>
            <ion-label style="color: #ffffff;">.</ion-label>
            <ion-label style="border-radius: 150px; border: 1px solid #2C3357; padding-left: 5px; padding-right: 5px;">
              <ion-icon name="image"></ion-icon>
              Formatos recomendados: PNG, JPEG o GIF
            </ion-label>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <div style="margin-top: 8px;"></div>

      <!--Precio-->
      <ion-card style="height: auto; --background:#ffffff; border: none; width: 780px; margin: auto;">
        <ion-card-content>
          <ion-label style="font-size: 22px; font-weight: bold; color: #2C3357;">
            Precio
          </ion-label>
          <div style="margin-top: 5px"></div>
          
          <ion-row style="font-size: 15px; font-weight: bold; color: #2c3357;">
            Precio de venta
          </ion-row>
          <div style="margin-top: 5px"></div>

          <ion-input style="--padding-start: 5px; font-size: 15px; font-weight: bold; color: #2c3357; border: 1px solid #2C3357; border-radius: 10px; box-shadow: none;" 
            placeholder="$ 0.00">
          </ion-input>
        </ion-card-content>
      </ion-card>
      <div style="margin-top: 8px;"></div>

      <!--Stock-->
      <ion-card style="height: auto; --background:#ffffff; border: none; width: 780px; margin: auto;">
        <ion-card-content>
          <ion-label style="font-size: 22px; font-weight: bold; color: #2C3357;">
            Stock
          </ion-label>
          <div style="margin-top: 5px"></div>
          
          <ion-row style="font-size: 15px; font-weight: bold; color: #2c3357;">
            Cantidad
          </ion-row>
          <div style="margin-top: 5px"></div>

          <ion-input style="--padding-start: 8px; font-size: 15px; font-weight: bold; color: #2c3357; border: 1px solid #2C3357; border-radius: 10px; box-shadow: none;" 
            placeholder="0">
          </ion-input>
        </ion-card-content>
      </ion-card>
      <div style="margin-top: 8px;"></div>

      <!--Categorías-->
      <ion-card style="height: auto; --background:#ffffff; border: none; width: 780px; margin: auto;">
        <ion-card-content>
          <ion-label style="font-size: 22px; font-weight: bold; color: #2C3357;">
            Categorías
          </ion-label>
          <div style="margin-top: 5px"></div>
          
          <ion-row style="font-size: 15px; font-weight: bold; color: #2c3357;">
            Ayudá a tus clientes a encontrar más rápido tus productos
          </ion-row>
          <div style="margin-top: 5px"></div>

          <ion-button id="btnCategoria" style="--background:transparent; --ion-toolbar-background:#006bc8; --border-radius:100px; text-transform: none;">
            <ion-icon name="add-circle-outline" style="font-weight: bold;">
            </ion-icon>
            <span style="font-weight: 550;">
              Agregar categorías
            </span>
          </ion-button>
        </ion-card-content>
      </ion-card>
      <div style="margin-top: 8px;"></div>

      <!--Variantes-->
      <ion-card style="height: auto; --background:#ffffff; border: none; width: 780px; margin: auto;">
        <ion-card-content>
          <ion-label style="font-size: 22px; font-weight: bold; color: #2C3357;">
            Variantes
          </ion-label>
          <div style="margin-top: 5px"></div>
          
          <ion-row style="font-size: 15px; font-weight: bold; color: #2c3357;">
            Combiná diferentes propiedades de tu producto. Ejemplo: color + tamaño.
          </ion-row>
          <div style="margin-top: 5px"></div>

          <ion-button id="btnVariantes" (click)="abrirMenu()" style="--background: transparent; --ion-toolbar-background:#006bc8; --border-radius:100px; text-transform: none;">
            <ion-icon name="add-circle-outline" style="font-weight: bold;">
            </ion-icon>
            <span style="font-weight: 550;">
              Agregar variantes
            </span>

          </ion-button>
        </ion-card-content>
      </ion-card>
      <div style="margin-top: 8px;"></div>

      <!--Botón "Cancelar"-->
      <ion-button style="top: 99%; margin-left: 59%; --border-radius: 10px; --background: transparent; --ion-toolbar-background:#2c3357; text-transform: none; font-weight: bold;">
        Cancelar
      </ion-button>

      <!--Botón "Guardar cambios"-->
      <ion-button style="top: 99%; --border-radius: 10px; --background: #006bc8; --ion-toolbar-background:#ffffff; text-transform: none; font-weight: bold;">
        Guardar cambios
      </ion-button>
  </ion-toolbar>
</ion-content>