.fondo {
    --ion-background-color: #ffffff;
    --max-width: none;
}
.btnEliminar {
    color: #ffffff;
    --background: #ff0000;
}
.btnCancelar {
    color: #2C3357;
    --ion-color-base: #ffffff;
}