<ion-menu contentId="encabezadoInvisible" side="end" menuId="menuCategorias" style="--ion-background-color:#ffffff; --width: 475px;">
  <ion-toolbar>
    <ion-header>
      <ion-title>Categorías</ion-title>
    </ion-header>
  </ion-toolbar>
  <ion-content class="ion-padding">
    <div style="margin-top: -15px"></div>
    <!--Botón de cerrar menú-->
    <ion-button (click)="cerrarMenu('menuCategorias')" style="margin-left: -15px; --background:#ffffff; --box-shadow:none; --color:#2C3357;">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-button>

    <!--Título del menú-->
    <ion-row>
      <ion-label style="font-size: 28px; font-weight: bold; color:#2C3357;">
        Categorías
      </ion-label>
    </ion-row>
    <div style="margin-top: 5px;"></div>

    <!--Barra de búsqueda de categorías-->
    <ion-searchbar 
      (ionInput)="buscarCategoria($event)" 
      placeholder="Buscar categorías" 
      style="width: 107%; margin-left: -15px; --border-radius: 10px; --ion-color-step-850:#2C3357;">
    </ion-searchbar>

    <!--Crear nueva categoría-->
    <ion-toolbar style="--background:#ffffff; margin-left: -15px; border-top: 1px solid #2C3357; border-bottom: 1px solid #2C3357; width: 107%;">
      <!--Botón de creacion de categoría-->
      <ion-button 
        (click)="mostrarEtiquetaOculta('agregarCategoriaDiv')" 
        style="margin-left: -8px; --background:#ffffff; --ion-toolbar-background:#006bc8; text-transform: none; --box-shadow: none;">
        <ion-icon 
          name="add-circle-outline">
        </ion-icon>
        Nueva categoría
      </ion-button>
      
      <!--Input de creación de categoría-->
      <div id="agregarCategoriaDiv" style="position: relative; width: 97%; display: none;">
        <ion-input 
          style="--padding-start: 5px; margin-left: 5px; font-size: 15px; font-weight: bold; color: #2c3357; border: 1px solid #2C3357; border-radius: 10px; box-shadow: none; width: 100%;" 
          placeholder="Escribí una nueva categoría"
          [(ngModel)]="nuevaCategoria">
        </ion-input>
        <ion-button 
          style="position: absolute; top: 0%; right: 0%; z-index: 4; --border-radius: 15px; --background:#006bc8; --ion-toolbar-background:#ffffff; text-transform: none; font-weight: bold;" 
          [disabled]="!nuevaCategoria"
          (click)="crearCategoria('agregarCategoriaDiv')">
          Guardar
        </ion-button>
        <div style="color: red; display: none;" *ngIf="cartelBugCategoria">
          *Ocurrió un error al crear la categoría
        </div>
      </div>
      <div style="margin-top: 5px; display: block;"></div>
    </ion-toolbar>

    <!--Listado de categorías-->
    <ion-list style="margin-left: -15px; --ion-item-background:#ffffff; width: 107%;">
      <!--Items en caso de cargarse las categorías con éxito-->
      <div *ngIf="!errorCargarCategorias">
        <ion-item 
          *ngFor="let cat of listaCategorias" 
          (click)="crearIonChipCategoria(cat.id,cat.nom)" 
          style="width: 100%; --padding-start:0px;">
          <ion-label style="color:#2C3357; margin-left: 8px;">
            {{cat.name}}
          </ion-label>
          <ion-checkbox [checked]="checkboxCategoriaEstado(cat.name)" style="--border-color:#2C3357;">
          </ion-checkbox>
        </ion-item>
      </div>

      <!--Item en caso no poder cargar las categorías-->
      <ion-item 
        *ngIf="errorCargarCategorias" 
        style="width: 100%; --padding-start:0px;">
        <ion-label style="color: red; margin-left: 8px;">
          *No se pudo cargar las categorías
        </ion-label>
        <!--Botón de reinicio para intentar volver a cargar las categorías-->
        <ion-button
          (click)="cargarCategorias()" 
          style="--background:#ffffff; --color:#2C3357; width: auto; --border-radius: 150px">
          <ion-icon name="refresh">
          </ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu contentId="encabezadoInvisible" side="end" menuId="menuVariantes" style="--ion-background-color:#ffffff; --width: 475px;">
  <ion-toolbar>
    <ion-header>
      <ion-title>Variantes</ion-title>
    </ion-header>
  </ion-toolbar>
  <ion-content class="ion-padding">

    <!--Parte del menú de variantes dedicada a los colores-->
    <div style="margin-top: -15px"></div>
    <ion-row>
      <!--Botón de cerrar menú-->
      <ion-col>
        <ion-button (click)="cerrarMenu('menuVariantes')" style="margin-left: -15px; --background:#ffffff; --box-shadow:none; --color:#2C3357;">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-col>

      <!--Botón de crear variante-->
      <ion-col>
        <ion-button 
          (click)="crearVariante()"
          [disabled]="!estaSeleccionado"
          style="margin-left: 270px; --background:#006bc8; --color:#ffffff; --border-radius: 10px; --box-shadow:none; text-transform: none;">
          Crear
        </ion-button>
      </ion-col>
    </ion-row>

    <!--Título del menú Variantes-->
    <ion-row>
      <ion-label style="font-size: 28px; font-weight: bold; color:#2C3357;">
        Variantes
      </ion-label>
    </ion-row>
    <div style="margin-top: 5px;"></div>
    
    <!--Título del submenú Color-->
    <ion-label style="font-size: 22px; font-weight: bold; color:#2C3357;">
      Color
    </ion-label>
    
    <!--Barra de búsqueda de colores-->
    <ion-searchbar 
      (ionInput)="buscarColor($event)" 
      placeholder="Buscar colores" 
      style="width: 107%; margin-left: -15px; --border-radius: 10px; --ion-color-step-850:#2C3357;">
    </ion-searchbar>

    <!--Crear nuevo color-->
    <ion-toolbar style="--background:#ffffff; margin-left: -15px; border-top: 1px solid #2C3357; border-bottom: 1px solid #2C3357; width: 107%;">
      <!--Botón de creacion de color-->
      <ion-button 
        (click)="mostrarEtiquetaOculta('agregarColorDiv')" 
        style="margin-left: -8px; --background:#ffffff; --ion-toolbar-background:#006bc8; text-transform: none; --box-shadow: none;">
        <ion-icon 
          name="add-circle-outline">
        </ion-icon>
        Nuevo color
      </ion-button>
      
      <!--Input de creación de color-->
      <div id="agregarColorDiv" style="position: relative; width: 97%; display: none;">
        <ion-input 
          style="--padding-start: 5px; margin-left: 5px; font-size: 15px; font-weight: bold; color: #2c3357; border: 1px solid #2C3357; border-radius: 10px; box-shadow: none; width: 100%;" 
          placeholder="Escribí el nombre del nuevo color"
          [(ngModel)]="nuevoColor">
        </ion-input>
        <ion-input 
          style="--padding-start: 5px; margin-left: 5px; font-size: 15px; font-weight: bold; color: #2c3357; border: 1px solid #2C3357; border-radius: 10px; box-shadow: none; width: 100%;" 
          placeholder="Escribí el código hexadecimal del nuevo color"
          [(ngModel)]="nuevoCodColor">
        </ion-input>

        <!--Guarda color nuevo-->
        <ion-button 
          style="position: absolute; top: 0%; right: 0%; z-index: 4; --border-radius: 15px; --background:#006bc8; --ion-toolbar-background:#ffffff; text-transform: none; font-weight: bold;" 
          [disabled]="!nuevoColor&&!nuevoCodColor"
          (click)="crearColor('agregarColorDiv')">
          Guardar
        </ion-button>
        <div style="color: red; display: none;" *ngIf="cartelBugColor">
          *Ocurrió un error al crear el color
        </div>
      </div>
      <div style="margin-top: 5px;"></div>
    </ion-toolbar>

    <!--Listado de colores-->
    <ion-list style="margin-left: -15px; --ion-item-background:#ffffff; width: 107%;">
      <!--Items en caso de cargarse los colores con éxito-->
      <div *ngIf="!errorCargarColores">
        <ion-item
          *ngFor="let col of listaColores" 
          (click)="crearIonChipColor(col.name)" 
          style="width: 100%; --padding-start:0px;">
          <ion-button style="--background: {{col.hexadecimalCode}}; --border-radius: 150px; width: 25px; margin-left: 8px;">
          </ion-button>
          <ion-label style="color:#2C3357; margin-left: 8px;">
            {{col.name}} 
          </ion-label>
          <ion-checkbox 
            [checked]="checkboxColorEstado(col.name)" 
            [disabled]="!checkboxColorEstado(col.name)"
            style="--border-color:#2C3357;">
          </ion-checkbox>
        </ion-item>
      </div>

      <!--Item en caso no poder cargar los colores-->
      <ion-item 
        *ngIf="errorCargarColores" 
        style="width: 100%; --padding-start:0px;">
        <ion-label style="color: red; margin-left: 8px;">
          *No se pudo cargar los colores
        </ion-label>
        <!--Botón de reinicio para intentar volver a cargar los colores-->
        <ion-button
          (click)="cargarColores()" 
          style="--background:#ffffff; --color:#2C3357; width: auto; --border-radius: 150px">
          <ion-icon name="refresh">
          </ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <!--Parte del menú de variantes dedicada a las tallas-->
    <div style="margin-top: 5px;"></div>
    <ion-label style="font-size: 22px; font-weight: bold; color:#2C3357;">
      Tallas
    </ion-label>
    
    <!--Barra de búsqueda de tallas-->
    <ion-searchbar 
      (ionInput)="buscarTalla($event)" 
      placeholder="Buscar tallas" 
      style="width: 107%; margin-left: -15px; --border-radius: 10px; --ion-color-step-850:#2C3357;">
    </ion-searchbar>

    <!--Crear nueva talla-->
    <ion-toolbar style="--background:#ffffff; margin-left: -15px; border-top: 1px solid #2C3357; border-bottom: 1px solid #2C3357; width: 107%;">
      <!--Botón de creacion de tallas-->
      <ion-button 
        (click)="mostrarEtiquetaOculta('agregarTallaDiv')" 
        style="margin-left: -8px; --background:#ffffff; --ion-toolbar-background:#006bc8; text-transform: none; --box-shadow: none;">
        <ion-icon 
          name="add-circle-outline">
        </ion-icon>
        Nueva talla
      </ion-button>
      
      <!--Input de creación de talla-->
      <div id="agregarTallaDiv" style="position: relative; width: 97%; display: none;">
        <ion-input 
          style="--padding-start: 5px; margin-left: 5px; font-size: 15px; font-weight: bold; color: #2c3357; border: 1px solid #2C3357; border-radius: 10px; box-shadow: none; width: 100%;" 
          placeholder="Escribí el nombre de la nueva talla"
          [(ngModel)]="nuevaTalla">
        </ion-input>
        <ion-button 
          style="position: absolute; top: 0%; right: 0%; z-index: 4; --border-radius: 15px; --background:#006bc8; --ion-toolbar-background:#ffffff; text-transform: none; font-weight: bold;" 
          [disabled]="!nuevaTalla"
          (click)="crearTalla('agregarTallaDiv')">
          Guardar
        </ion-button>
        <div style="color: red; display: none;" *ngIf="cartelBugTalla">
          *Ocurrió un error al crear la talla
        </div>
      </div>
      <div style="margin-top: 5px;"></div>
    </ion-toolbar>

    <!--Listado de tallas-->
    <ion-list style="margin-left: -15px; --ion-item-background:#ffffff; width: 107%;">
      <!--Items en caso de cargarse las tallas con éxito-->
      <div *ngIf="!errorCargarTallas">
        <ion-item 
          *ngFor="let talla of listaTallas" 
          (click)="crearIonChipTalla(talla.name)" 
          style="width: 100%; --padding-start:0px;">
          <ion-label style="color:#2C3357; margin-left: 8px;">
            {{talla.name}} - {{talla.standard}}
          </ion-label>
          <ion-checkbox 
            [checked]="checkboxTallaEstado(talla.name)" 
            style="--border-color:#2C3357;">
          </ion-checkbox>
        </ion-item>
      </div>

      <!--Item en caso no poder cargar las tallas-->
      <ion-item 
        *ngIf="errorCargarTallas" 
        style="width: 100%; --padding-start:0px;">
        <ion-label style="color: red; margin-left: 8px;">
          *No se pudo cargar las tallas
        </ion-label>
        <!--Botón de reinicio para intentar volver a cargar las tallas-->
        <ion-button
          (click)="cargarTallas()" 
          style="--background:#ffffff; --color:#2C3357; width: auto; --border-radius: 150px">
          <ion-icon name="refresh">
          </ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header id="encabezadoInvisible">
  <ion-toolbar>
    <ion-title>Encabezado Invisible</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar style="height: auto; display: flex; justify-content: center; align-items: center; --background: #ffffff; overflow-y: auto;">
    <div style="margin-top:11px;">
    </div>
    <ion-label style="font-size: 28px; font-weight: 500; color:#2C3357; margin-left: 15px;">
      Productos
    </ion-label>

    <form [formGroup]="formProducto" (ngSubmit)="crearProducto()">
      <!--Nombre y descripción-->
      <ion-card style="height: auto; --background:#ffffff; border: none; width: 780px; margin: auto;">
        <ion-card-content>
          <ion-label style="font-size: 22px; font-weight: bold; color: #2C3357;">
            Nombre y descripción
          </ion-label>
          <div style="margin-top: 5px"></div>

          <ion-row style="font-size: 15px; font-weight: bold; color: #2c3357;">
            Nombre
          </ion-row>
          <div style="margin-top: 5px"></div>

          <ion-input
            formControlName="nombreProducto" 
            style="--padding-start: 5px; font-size: 15px; font-weight: bold; color: #2c3357; border: 1px solid #2C3357; border-radius: 10px; box-shadow: none;" 
            placeholder="Escribí el nombre de tu producto">
          </ion-input>
          <div
            style="color: red;" 
            *ngIf="formProducto.get('nombreProducto')?.hasError('required') && formProducto.get('nombreProducto')?.touched">
            *El nombre del producto es obligatorio.
          </div>
          <div
            style="color: red;" 
            *ngIf="formProducto.get('nombreProducto')?.hasError('pattern') && formProducto.get('nombreProducto')?.touched">
            *El nombre del producto solo puede ser alfanumérico de máximo 50 caracteres.
          </div>
          <div style="margin-top: 5px"></div>

          <ion-label style="font-size: 15px; font-weight: bold; color: #2c3357;">
            Descripción
          </ion-label>
          <div style="margin-top: 5px"></div>

          <ion-textarea 
            formControlName="descripcionProducto" 
            style="--padding-start: 5px; font-size: 15px; font-weight: bold; color: #2c3357; height: 150px; width: 750px; border: 1px solid #2C3357; border-radius: 10px;" 
            contenteditable="true" 
            placeholder="Escribí una descripción para tu producto">
          </ion-textarea>
          <div
            style="color: red;" 
            *ngIf="formProducto.get('descripcionProducto')?.hasError('required') && formProducto.get('descripcionProducto')?.touched">
            *La descripción del producto es obligatorio.
          </div>
          <div
            style="color: red;" 
            *ngIf="formProducto.get('descripcionProducto')?.hasError('maxlength') && formProducto.get('descripcionProducto')?.touched">
            *La descripción del producto es obligatorio no debe exceder los 500 caracteres.
          </div>
        </ion-card-content>
      </ion-card>
      <div style="margin-top: 8px;"></div>

      <!--Fotos-->
      <ion-card style="height: auto; --background:#ffffff; border: none; width: 780px; margin: auto;">
        <ion-card-content>
          <ion-label style="font-size: 22px; font-weight: bold; color: #2C3357;">
            Fotos
          </ion-label>
          <div style="margin-top: 5px"></div>
          <ion-row>
            <!--Foto 1-->
            <ion-col>
              <!--Input permite ingresar información al usuario, en este caso tipo "file" abre una ventana
                para que el usuario seleccione un archivo, limitado a imágenes por "image/*"
              -->
              <input 
                formControlName="fotoProducto1" 
                id="fileInput1"
                type="file" 
                accept="image/*" 
                (change)="leerImagen($event,'foto1','icono1','span1','borrarFoto1')" 
                style="display: none;"
              />
              <ion-button 
                id="foto1" 
                (click)="ventanaSubirImagen('fileInput1')" 
                style="--background: #deeffe; height: 130px; width: 173px; border: 2px dashed #006bc8">
                <ion-icon 
                  id="icono1" 
                  name="add-circle-outline" 
                  style="font-size: 50px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #006bc8;">
                </ion-icon>
                <span 
                  id="span1" 
                  style="font-weight: bold; position: absolute; bottom: 0px; text-align: center; width: 100%; text-transform: none;">
                  Vista de frente
                </span>
              </ion-button>
              <ion-button 
                id="borrarFoto1" 
                (click)="confirmarBorrarFoto('foto1','icono1','span1','borrarFoto1')" 
                style="position: absolute; top: 22%; left: 85%; transform: translate(-50%, -50%); z-index: 6; --background:#ffffff; --border-radius:150px; display: none;">
                <ion-icon 
                  name="trash" 
                  style="font-size: 22px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                </ion-icon>
              </ion-button>
            </ion-col>

            <!--Foto 2-->
            <ion-col>
              <input
                formControlName="fotoProducto2" 
                id="fileInput2" 
                type="file" 
                accept="image/*" 
                (change)="leerImagen($event,'foto2','icono2','span2','borrarFoto2')" 
                style="display: none;"
              />
              <ion-button 
                id="foto2" 
                (click)="ventanaSubirImagen('fileInput2')" 
                style="--background: #deeffe; height: 130px; width: 173px; border: 2px dashed #006bc8">
                <ion-icon 
                  id="icono2" 
                  name="add-circle-outline" 
                  style="font-size: 50px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #006bc8;">
                </ion-icon>
                <span 
                  id="span2" 
                  style="font-weight: bold; position: absolute; bottom: 0px; text-align: center; width: 100%; text-transform: none;">
                  Vista izquierda
                </span>
              </ion-button>
              <ion-button 
                id="borrarFoto2" 
                (click)="confirmarBorrarFoto('foto2','icono2','span2','borrarFoto2')" 
                style="position: absolute; top: 22%; left: 85%; transform: translate(-50%, -50%); z-index: 6; --background:#ffffff; --border-radius:150px; display: none;">
                <ion-icon 
                  name="trash" 
                  style="font-size: 22px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                </ion-icon>
              </ion-button>
            </ion-col>

            <!--Foto 3-->
            <ion-col>
              <input 
                formControlName="fotoProducto3"   
                id="fileInput3"
                type="file" 
                accept="image/*" 
                (change)="leerImagen($event,'foto3','icono3','span3','borrarFoto3')" 
                style="display: none;"
              />
              <ion-button 
                id="foto3" 
                (click)="ventanaSubirImagen('fileInput3')" 
                style="--background: #deeffe; height: 130px; width: 173px; border: 2px dashed #006bc8">
                <ion-icon 
                  id="icono3" 
                  name="add-circle-outline" 
                  style="font-size: 50px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #006bc8;">
                </ion-icon>
                <span 
                  id="span3" 
                  style="font-weight: bold; position: absolute; bottom: 0px; text-align: center; width: 100%; text-transform: none;">
                  Vista derecha
                </span>
              </ion-button>
              <ion-button 
                id="borrarFoto3" 
                (click)="confirmarBorrarFoto('foto3','icono3','span3','borrarFoto3')" 
                style="position: absolute; top: 22%; left: 85%; transform: translate(-50%, -50%); z-index: 6; --background:#ffffff; --border-radius:150px; display: none;">
                <ion-icon 
                  name="trash" 
                  style="font-size: 22px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                </ion-icon>
              </ion-button>
            </ion-col>

            <!--Foto 4-->
            <ion-col>
              <input
                formControlName="fotoProducto4" 
                id="fileInput4" 
                type="file" 
                accept="image/*" 
                (change)="leerImagen($event,'foto4','icono4','span4','borrarFoto4')" 
                style="display: none;"
              />
              <ion-button 
                id="foto4" 
                (click)="ventanaSubirImagen('fileInput4')" 
                style="--background: #deeffe; height: 130px; width: 173px; border: 2px dashed #006bc8">
                <ion-icon 
                  id="icono4" 
                  name="add-circle-outline" 
                  style="font-size: 50px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #006bc8;">
                </ion-icon>
                <span 
                  id="span4" 
                  style="font-weight: bold; position: absolute; bottom: 0px; text-align: center; width: 100%; text-transform: none;">
                  Vista de atrás
                </span>
              </ion-button>
              <ion-button 
                id="borrarFoto4" 
                (click)="confirmarBorrarFoto('foto4','icono4','span4','borrarFoto4')" 
                style="position: absolute; top: 22%; left: 85%; transform: translate(-50%, -50%); z-index: 6; --background:#ffffff; --border-radius:150px; display: none;">
                <ion-icon 
                  name="trash" 
                  style="font-size: 22px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                </ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <div style="margin-top: 5px"></div>
          
          <!--Recomendaciones para el usuario-->
          <ion-row>
            <ion-label style="border-radius: 150px; border: 1px solid #2C3357; padding-left: 5px; padding-right: 5px;">
              <ion-icon name="expand"></ion-icon>
              Tamaño mínimo recomendado: 1024px
            </ion-label>
            <ion-label style="color: #ffffff;">.</ion-label>
            <ion-label style="border-radius: 150px; border: 1px solid #2C3357; padding-left: 5px; padding-right: 5px;">
              <ion-icon name="image"></ion-icon>
              Formatos recomendados: PNG, JPEG o GIF
            </ion-label>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <div style="margin-top: 8px;"></div>

      <!--Precio-->
      <ion-card style="height: auto; --background:#ffffff; border: none; width: 780px; margin: auto;">
        <ion-card-content>
          <ion-label style="font-size: 22px; font-weight: bold; color: #2C3357;">
            Precio
          </ion-label>
          <div style="margin-top: 5px"></div>
          
          <ion-row style="font-size: 15px; font-weight: bold; color: #2c3357;">
            Precio de venta
          </ion-row>
          <div style="margin-top: 5px"></div>

          <ion-input 
            formControlName="precioProducto" 
            style="--padding-start: 5px; font-size: 15px; font-weight: bold; color: #2c3357; border: 1px solid #2C3357; border-radius: 10px; box-shadow: none;" 
            placeholder="$ 0.00">
          </ion-input>
          <div
            style="color: red;" 
            *ngIf="formProducto.get('precioProducto')?.hasError('required') && formProducto.get('precioProducto')?.touched">
            *El precio es obligatorio.
          </div>
          <div
            style="color: red;" 
            *ngIf="formProducto.get('precioProducto')?.hasError('pattern') && formProducto.get('precioProducto')?.touched">
            *El precio solo pueden ser valores numéricos.
          </div>
        </ion-card-content>
      </ion-card>
      <div style="margin-top: 8px;"></div>

      <!--Stock-->
      <ion-card style="height: auto; --background:#ffffff; border: none; width: 780px; margin: auto;">
        <ion-card-content>
          <ion-label style="font-size: 22px; font-weight: bold; color: #2C3357;">
            Stock
          </ion-label>
          <div style="margin-top: 5px"></div>
          
          <ion-row style="font-size: 15px; font-weight: bold; color: #2c3357;">
            Cantidad
          </ion-row>
          <div style="margin-top: 5px"></div>

          <ion-input 
            formControlName="stockProducto" 
            style="--padding-start: 8px; font-size: 15px; font-weight: bold; color: #2c3357; border: 1px solid #2C3357; border-radius: 10px; box-shadow: none;" 
            placeholder="0">
          </ion-input>
          <div
            style="color: red;" 
            *ngIf="formProducto.get('stockProducto')?.hasError('required') && formProducto.get('stockProducto')?.touched">
            *El stock es obligatorio.
          </div>
          <div
            style="color: red;" 
            *ngIf="formProducto.get('stockProducto')?.hasError('pattern') && formProducto.get('stockProducto')?.touched">
            *El stock solo pueden ser valores numéricos.
          </div>
        </ion-card-content>
      </ion-card>
      <div style="margin-top: 8px;"></div>

      <!--Categorías-->
      <ion-card style="height: auto; --background:#ffffff; border: none; width: 780px; margin: auto;">
        <ion-card-content>
          <!--Título-->
          <ion-label style="font-size: 22px; font-weight: bold; color: #2C3357;">
            Categorías
          </ion-label>
          <div style="margin-top: 5px"></div>
          
          <!--Descripción-->
          <ion-row *ngIf="descripcionCategoria" style="font-size: 15px; font-weight: bold; color: #2c3357;">
            Ayudá a tus clientes a encontrar más rápido tus productos
          </ion-row>

          <!--Ion-chips-->
          <div *ngIf="!descripcionCategoria">
            <ion-chip 
              *ngFor="let chip of ionChipCategoria" 
              style="color: #2C3357; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
              {{chip}}
              <ion-icon 
                name="close" 
                (click)="eliminarIonChipCategoria(chip.id)" 
                style="color: #2C3357;">
              </ion-icon>
            </ion-chip>
          </div>
          <div style="margin-top: 5px"></div>

          <!--Agregar categoría-->
          <ion-button (click)="abrirMenu('menuCategorias')" style="--background:transparent; --ion-toolbar-background:#006bc8; --border-radius:100px; text-transform: none;">
            <ion-icon name="add-circle-outline" style="font-weight: bold;">
            </ion-icon>
            <span style="font-weight: 550;">
              Agregar categorías
            </span>
          </ion-button>
        </ion-card-content>
      </ion-card>
      <div style="margin-top: 8px;"></div>

      <!--Variantes-->
      <ion-card style="height: auto; --background:#ffffff; border: none; width: 780px; margin: auto;">
        <ion-card-content>
          <ion-label style="font-size: 22px; font-weight: bold; color: #2C3357;">
            Variantes
          </ion-label>
          <div style="margin-top: 5px"></div>

          <!--Descripción general de las variantes-->
          <ion-row 
            *ngIf="descripcionColor&&descripcionTalla" 
            style="font-size: 15px; font-weight: bold; color: #2c3357;">
            Combiná diferentes propiedades de tu producto. Ejemplo: color + tamaño.
          </ion-row>

          <!--IonChip de colores-->
          <div *ngIf="!descripcionColor&&ionChipColor" style="font-size: 15px; font-weight: bold; color: #2c3357;">
            Color
            <ion-chip 
              style="color: #2C3357; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
              {{ ionChipColor }}
              <ion-icon 
                name="close" 
                (click)="eliminarIonChipColor(ionChipColor)" 
                style="color: #2C3357;">
              </ion-icon>
            </ion-chip>
          </div>

          <!--IonChip de tallas-->
          <div *ngIf="!descripcionTalla&&ionChipTalla" style="font-size: 15px; font-weight: bold; color: #2c3357;">
            Talla
            <ion-chip 
              style="color: #2C3357; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
              {{ ionChipTalla }}
              <ion-icon 
                name="close" 
                (click)="eliminarIonChipTalla(ionChipTalla)" 
                style="color: #2C3357;">
              </ion-icon>
            </ion-chip>
          </div>
          <div style="margin-top: 5px"></div>

          <div *ngIf="productoVarianteCreado">
            <ion-card>
              <ion-row>
                <ion-col>
                  <ion-label>
                    Producto
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-label>
                    Stock
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-label>
                    Precio
                  </ion-label>
                </ion-col>
                <ion-col>
                  Variante
                </ion-col>
                <ion-col>
                  <ion-label>
                    Acciones
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  {{ionChipColor}}/{{ionChipTalla}} 
                </ion-col>
                <ion-col>
                  10 u.
                </ion-col>
                <ion-col>
                  $ 1000.00
                </ion-col>
                <ion-col>
                  Amarillo/XL
                </ion-col>
                <ion-col>
                  <ion-col>
                    <ion-button>
                      Borrar
                    </ion-button>
                  </ion-col>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>

          <ion-button (click)="abrirMenu('menuVariantes')" style="--background: transparent; --ion-toolbar-background:#006bc8; --border-radius:100px; text-transform: none;">
            <ion-icon name="add-circle-outline" style="font-weight: bold;">
            </ion-icon>
            <span style="font-weight: 550;">
              Agregar variantes
            </span>
          </ion-button>
        </ion-card-content>
      </ion-card>
      <div style="margin-top: 8px;"></div>

      <!--Botón "Cancelar"-->
      <ion-button style="top: 99%; margin-left: 59%; --border-radius: 10px; --background: transparent; --ion-toolbar-background:#2c3357; text-transform: none; font-weight: bold;">
        Cancelar
      </ion-button>

      <!--Botón "Guardar cambios"-->
      <ion-button 
        type="submit" 
        [disabled]="!formProducto.valid"
        style="top: 99%; --border-radius: 10px; --background: #006bc8; --ion-toolbar-background:#ffffff; text-transform: none; font-weight: bold;">
        Guardar cambios
      </ion-button>
    </form>
  </ion-toolbar>
</ion-content>