<ion-content [fullscreen]="true">
  <ion-toolbar style="margin-top: 60px; height: 517px;">
    <ion-card>
      <ion-card-content>
        <ion-label style="font-size: 25px; font-weight: bold;">Panel</ion-label>
        <ion-row style="font-size: 20px; font-weight: bold;">Te damos la bienvenida a tu tienda</ion-row>
        <ion-row style="margin-top: 30px;"></ion-row>
        <ion-row style="margin-left: 100px; margin-right: 0px;">
          <ion-col>
            <ion-button (click)="irAAgregarProducto()" fill="outline" style="height: 250px; width: 250px;">Agregar Producto</ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="outline" style="height: 250px; width: 250px;">Ver Productos</ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="outline" style="height: 250px; width: 250px;">Configurar Medio de Pago</ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="outline" style="height: 250px; width: 250px;">Configurar envío</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-content>