<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="3">
        <ion-card style="border: 2px solid #ffffff; height: 755px;">
          <ion-card-content>
            <ion-label style="font-size: 25px; font-weight: bold; margin-left: 60px;">
              Administrá tu
            </ion-label>
            <ion-row style="font-size: 25px; font-weight: bold; margin-left: 60px;">
              tienda online
            </ion-row>

            <div style="margin-top: 5px;"></div>
            <ion-card style="border: 2px solid #ffffff; height: 640px;">
              <ion-card-content>
                <ion-label style="font-size: 20px; font-weight: bold;">Ingresá tu email</ion-label>
                <ion-input style="font-size: 20px; font-weight: bold;" placeholder="nombre@empresa.com"></ion-input>
                <div style="margin-top: 20px;"></div>
                <ion-label style="font-size: 20px; font-weight: bold;">Ingresá tu contraseña</ion-label>
                <ion-input style="font-size: 20px; font-weight: bold;" placeholder="contraseña"></ion-input>
                <div style="margin-top: 20px;"></div>
                <ion-checkbox style="font-size: 20px; font-weight: bold;" labelPlacement="start">Recordarme</ion-checkbox>
                <div style="margin-top: 20px;"></div>
                <ion-row>
                  <ion-button (click)="irAFuncionalidades()">Ingresar</ion-button>
                </ion-row>
              </ion-card-content>
              <ion-card-content style="border: 2px solid #ffffff;">
                <ion-button>Olvidé mi contraseña</ion-button>
                <ion-row>
                  <ion-button>Crear una cuenta</ion-button>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col>
        <ion-card style="border: 2px solid #ffffff; height: 755px;">
          <ion-card-content>
            IMAGEN FALTANTE
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-content>
