<ion-app>
  <ion-router-outlet>
  </ion-router-outlet>

  <ion-header *ngIf="paginaActual == '/home' || paginaActual == '/funcionalidades' || paginaActual == '/agregar-producto' || paginaActual == '/ver-productos'">
    <ion-toolbar class="encabezado">
      <ion-button (click)="irAHome()" fill="outline" style="height: 40px; font-weight: bold; font-size: 14px; text-transform: none;">
        Folk&Kin
      </ion-button>
      <ion-button fill="outline" style="height: 40px; font-size: 14px; text-transform: none;">
        ¿Por qué elegirnos?
      </ion-button>
      <ion-button fill="outline" style="height: 40px; font-size: 14px; text-transform: none;">
        Funcionalidades
      </ion-button>
      <ion-button (click)="irALogin()" fill="outline" slot="end" style="height: 40px; font-size: 14px; text-transform: none;">
        Iniciar sesión
      </ion-button>
    </ion-toolbar>
  </ion-header>
</ion-app>