<ion-content [fullscreen]="true">
  <ion-toolbar style="--background: url(assets/img/Login/1.jpg) no-repeat center center / cover; height: 100%;">
    <ion-card style="height: 100vh; width: 400px; margin-left: 0px; margin-top: 0px; --background:#ffffff;">
      <ion-card-content>
        <div style="margin-top: 3px;"></div>
        <ion-button (click)="irAHome()" style="--border-width: 0px; --background: #ffffff; --color: #2c3357; --box-shadow: none; margin-left: 10px; text-transform: none;">
          Folk&Kin
        </ion-button>

        <div style="margin-top: 5px;"></div>
        <ion-card style="height: auto; --background:#ffffff; border: none; box-shadow: none;">
          <ion-card-content>
            <ion-label style="font-size: 15px; font-weight: bold; color: #2c3357;">
              CUIL o CUIT
            </ion-label>
            <ion-input style="font-size: 15px; font-weight: bold; color: #4b5fa0" placeholder="Escribí tu CUIL o CUIT">
            </ion-input>
            <div style="margin-top: 15px;"></div>
            <ion-label style="font-size: 15px; font-weight: bold; color: #2c3357;">
              Tu nombre (Opcional)
            </ion-label>
            <ion-input style="font-size: 15px; font-weight: bold; color: #4b5fa0" placeholder="Escribí el nombre que quieras dar a conocer">
            </ion-input>
            <div style="margin-top: 15px;"></div>
            <ion-label style="font-size: 15px; font-weight: bold; color: #2c3357;">
              WhatsApp (Opcional)
            </ion-label>
            <ion-input style="font-size: 15px; font-weight: bold; color: #4b5fa0" placeholder="Escribí tu número de teléfono">
            </ion-input>
            <div style="margin-top: 15px;"></div>
            <ion-label style="font-size: 15px; font-weight: bold; color: #2c3357;">
              Perfil de Instagram (Opcional)
            </ion-label>
            <ion-input style="font-size: 15px; font-weight: bold; color: #4b5fa0" placeholder="Escribí tu perfil de Instagram">
            </ion-input>
            <div style="margin-top: 15px;"></div>
            <ion-label style="font-size: 15px; font-weight: bold; color: #2c3357;">
              Perfil de Facebook (Opcional)
            </ion-label>
            <ion-input style="font-size: 15px; font-weight: bold; color: #4b5fa0" placeholder="Escribí tu perfil de Facebook">
            </ion-input>
            <div style="margin-top: 20px;"></div>
            <ion-row>
              <ion-button (click)="irAFuncionalidades()" style="text-transform: none; width: 100vh; height: 50px; --border-radius: 100px; --background: #006bc8; --ion-toolbar-background: #ffffff;">
                Finalizar
              </ion-button>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-content>