<ion-content [fullscreen]="true">
    <!--Carrusel cabecera-->
    <div class="">
        <div id="carruselCabecera" class="carousel slide" data-bs-ride="carousel">        
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/img/Home/Header/1.jpg" style="width: 100%; height: 800px;">
              </div>
              <div class="carousel-item">
                <img src="assets/img/Home/Header/2.webp" style="width: 100%; height: 800px;">
              </div>
              <div class="carousel-item">
                <img src="assets/img/Home/Header/3.png" style="width: 100%; height: 800px;">
              </div>
            </div>
    
            <button class="carousel-control-prev" type="button" data-bs-target="#carruselCabecera" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carruselCabecera" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!--Cuadro para crear tienda-->
        <ion-card style="position: absolute; top: 50%; left: 30%; transform: translate(-50%, -50%); max-width: 650px; background-color: transparent; border: none; box-shadow: none">
            <ion-card-content>
                <ion-label style="font-size: 70px; font-weight: bold; color: #ffffff;">
                    ¡Creá tu tienda y vendé sin límites!
                </ion-label>
                <ion-row style="font-size: 22px; color: #ffffff;">
                    Plan gratis para comenzar y más opciones para quienes ya venden online
                </ion-row>
                <div style="margin-top: 15px;"></div>
                <ion-input fill="outline" placeholder="Escribí el e-mail que más usás" style="background-color: #ffffff; color: black; border: none; box-shadow: none">
                </ion-input>
                <ion-button (click)="irACrearCuenta()" style="--background: #006bc8; --color:#ffffff; text-transform: none; font-size: bold; position: absolute; top: 88%; left: 82%; transform: translate(-50%, -50%); z-index: 2;">
                    Crear tienda gratis
                </ion-button>
            </ion-card-content>
        </ion-card>
        
        <!--Degradado no logrado-->
        <ion-toolbar style="height: 20px; --background: #00eeff;"></ion-toolbar>

        <ion-toolbar class="" style="--background: #ffffff; height: 60px;">
            <ion-label style="height: 60px; font-size: 48px; font-weight: bold; color: #2c3357; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
                Diseñá la tienda que soñás
            </ion-label>
        </ion-toolbar>
        <ion-toolbar style="--background:#ffffff;">
            <ion-label style="height: 30px; font-size: 24px; color: #2c3357; position: absolute; top: 25%; left: 50%; transform: translate(-50%, -50%)">
                Personaliza gratuitamente, sin ayuda de desarrolladores
            </ion-label>
        </ion-toolbar>
    </div>

    <!--Primera fila dinámica de imágenes promocionales-->
    <div id="carruselFila1" class="carousel slide" data-bs-ride="carousel" style="background: #ffffff;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-around">
                    <img style="width: 776px; height: 560px;" src="assets/img/Home/CarruselProductos1/1.webp" alt="Imagen 1">
                    <img style="width: 272px; height: 560px;" src="assets/img/Home/CarruselProductos1/2.webp" alt="Imagen 2">
                    <img style="width: 776px; height: 560px;" src="assets/img/Home/CarruselProductos1/3.webp" alt="Imagen 3">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-around">
                    <img style="width: 272px; height: 560px;" src="assets/img/Home/CarruselProductos1/4.webp" alt="Imagen 4">
                    <img style="width: 776px; height: 560px;" src="assets/img/Home/CarruselProductos1/5.webp" alt="Imagen 5">
                    <img style="width: 272px; height: 560px;" src="assets/img/Home/CarruselProductos1/6.webp" alt="Imagen 6">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-around">
                    <img style="width: 776px; height: 560px;" src="assets/img/Home/CarruselProductos1/7.webp" alt="Imagen 7">
                    <img style="width: 272px; height: 560px;" src="assets/img/Home/CarruselProductos1/8.webp" alt="Imagen 8">
                    <img style="width: 776px; height: 560px;" src="assets/img/Home/CarruselProductos1/9.webp" alt="Imagen 9">
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carruselFila1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carruselFila1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!--Segunda fila dinámica de imágenes promocionales-->
    <div id="carruselFila2" class="carousel slide" data-bs-ride="carousel" style="background: #ffffff;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-around">
                    <img style="width: 272px; height: 560px;" src="assets/img/Home/CarruselProductos2/1.webp" alt="Imagen 1">
                    <img style="width: 776px; height: 560px;" src="assets/img/Home/CarruselProductos2/2.webp" alt="Imagen 2">
                    <img style="width: 272px; height: 560px;" src="assets/img/Home/CarruselProductos2/3.webp" alt="Imagen 3">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-around">
                    <img style="width: 776px; height: 560px;" src="assets/img/Home/CarruselProductos2/4.webp" alt="Imagen 4">
                    <img style="width: 272px; height: 560px;" src="assets/img/Home/CarruselProductos2/5.webp" alt="Imagen 5">
                    <img style="width: 776px; height: 560px;" src="assets/img/Home/CarruselProductos2/6.webp" alt="Imagen 6">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-around">
                    <img style="width: 272px; height: 560px;" src="assets/img/Home/CarruselProductos2/7.webp" alt="Imagen 7">
                    <img style="width: 776px; height: 560px;" src="assets/img/Home/CarruselProductos2/8.webp" alt="Imagen 8">
                    <img style="width: 776px; height: 560px;" src="assets/img/Home/CarruselProductos2/9.webp" alt="Imagen 9">
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carruselFila2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carruselFila2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <ion-toolbar style="height: 5px; --background: #ffffff;"></ion-toolbar>

    <ion-toolbar style="--background: #ffffff;">
        <ion-label style="font-weight: bold; text-align: center; font-size: 48px; color: #2c3357; display: flex; align-items: center; justify-content: center;">
            No necesitás ser un experto para 
        </ion-label>
        <ion-row style="font-weight: bold; text-align: center; font-size: 48px; color: #2c3357; display: flex; align-items: center; justify-content: center;">
            crear tu tienda online
        </ion-row>
    </ion-toolbar>
    
    <ion-toolbar style="--background: #ffffff;">
        <ion-label style="text-align: center; font-size: 24px; color: #2c3357; display: flex; align-items: center; justify-content: center;">
            Vendé sin límites de horarios y en cualquier lugar en cuatro pasos:
        </ion-label>
    </ion-toolbar>

    <ion-toolbar style="height: 5px; --background: #ffffff;"></ion-toolbar>

    <ion-toolbar style="--background:#ffffff;">
        <ion-card style="background-color: #ffffff; max-width: 650px; border: none; box-shadow: none; margin: auto;">
            <ion-card-content style="height: auto; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <div id="carruselPasos" class="carousel slide" data-bs-ride="carousel" style="width: 100%;">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/img/Home/CarruselPasos/1.webp" class="d-block w-100">
                            <p style="color: #006bc8; font-size: 15px; font-weight: bold;">
                                01. Registrá un e-mail
                            </p>
                            <p style="color: #2c3357; font-size: 15px;">
                                Puede ser un correo personal o empresarial
                            </p>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/Home/CarruselPasos/2.webp" class="d-block w-100">
                            <p style="color: #006bc8; font-size: 15px; font-weight: bold;">
                                02. Personalizá tu tienda
                            </p>
                            <p style="color: #2c3357; font-size: 15px;">
                                Crea una tienda única y profesional
                            </p>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/Home/CarruselPasos/3.webp" class="d-block w-100">
                            <p style="color: #006bc8; font-size: 15px; font-weight: bold;">
                                03. Integrá los medios de pago y envío
                            </p>
                            <p style="color: #2c3357; font-size: 15px;">
                                Elegí las mejores opciones de pago y logística
                            </p>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/Home/CarruselPasos/4.webp" class="d-block w-100">
                            <p style="color: #006bc8; font-size: 15px; font-weight: bold;">
                                04. Armá tu catálogo de productos
                            </p>
                            <p style="color: #2c3357; font-size: 15px;">
                                Subí fotos y descripciones, ¡sin límite de productos!
                            </p>
                        </div>
                    </div>
            
                    <button class="carousel-control-prev" type="button" data-bs-target="#carruselPasos" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carruselPasos" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </ion-card-content>
        </ion-card>
    </ion-toolbar>

    <ion-toolbar style="height: 20px; --background: #ffffff;"></ion-toolbar>

    <ion-toolbar style="--background: url(assets/img/Home/Footer/1.webp) no-repeat center center / cover; height: 100%; display: flex; justify-content: flex-start; align-items: center;">
        <ion-card style="--background: transparent; box-shadow: none; max-width: 600px;">
            <ion-card-content style="font-size: 64px; color: #ffffff; text-align: center; justify-content: center;">
                Mostrale al mundo lo que sos capaz de hacer
                <p>
                    <ion-button (click)="irACrearCuenta()" style="--ion-toolbar-background: #006bc8; --background:#ffffff; text-transform: none;">
                        Crear tienda gratis
                    </ion-button>
                </p>
            </ion-card-content>
        </ion-card>
    </ion-toolbar>

    <ion-footer>
        <ion-toolbar class="pieDePagina">
            <div style="margin-top: 40px;"></div> <!--Espaciado-->
            <ion-label style="margin-left: 20px;">Folk&Kin</ion-label>
            <div style="margin-top: 10px;"></div> 
            <ion-row style="margin-left: 25%;">
                <ion-col>
                    Contacto
                    <ion-row>Teléfono: 1133445566</ion-row>
                    <ion-row>Dirección: Zabaleta 40, Argentina</ion-row>
                    <ion-row>Email: folk_and_kin@gmail.com</ion-row>
                </ion-col>
                <ion-col>
                    Nuestras redes
                    <ion-row>@folk_and_kin</ion-row>
                    <ion-row>@folk_and_kin</ion-row>
                    <ion-row>Folk and kin</ion-row>
                </ion-col>
            </ion-row>
            <div style="margin-top: 10px;"></div>  
            <ion-row style="text-align: center; display: flex; flex-direction: column; align-items: center;">
                2023 - 2023 © Folk&Kin - Todos los derechos reservados. Términos y condiciones. Políticas de privacidad. Política de calidad.
            </ion-row>
            <div style="margin-top: 25px;"></div>
        </ion-toolbar>
    </ion-footer>
</ion-content>