<ion-content [fullscreen]="true">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">        
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/fondo1..jpg" style="width: 100%; height: 800px;">
          </div>
          <div class="carousel-item">
            <img src="assets/img/fondo2.webp" style="width: 100%; height: 800px;">
          </div>
          <div class="carousel-item">
            <img src="assets/img/fondo3.png" style="width: 100%; height: 800px;">
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

    <ion-card style="position: absolute; top: 50%; left: 25%; transform: translate(-50%, -50%); max-width: 650px;">
        <ion-card-content>
            <ion-label style="font-size: 70px; font-weight: bold;">
                ¡Creá tu tienda y vendé sin límites!
            </ion-label>
            <ion-row style="font-size: 22px;">
                Plan gratis para comenzar y más opciones para quienes ya venden online
            </ion-row>
            <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Escribí el e-mail que más usás">
            </ion-input>
        </ion-card-content>
    </ion-card>
</ion-content>