.pieDePagina {
    --background:#4b5fa0;
    color: #ffffff;
}
.btnIniciar {
    position: absolute; top: 86%; left: 50%; transform: translate(-50%, -50%);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: none;
    font-size: 28px;
    color: #362A84;
    width: 255px;
    height: 60px;
    opacity: 0;
  }